.navigation_bar {
  width: 6%;
  min-width: 100px;
  height: 100vh;
  position: fixed;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation_bar_title {
  position: relative;
  height: 20vh;
}

.navigation_bar_items {
  position: relative;
}

.navigation_bar_foot {
  position: relative;
  height: 20vh;
}
