.input_container {
  display: flex;
  position: relative;
  height: 75px;
  width: 100%;
  align-items: center;
}

.input {
  height: 32px;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
  float: left;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.input:valid + .label {
  top: 10px;
  left: 10px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.input:focus {
  padding-left: 9px;
  border-width: 2px;
  outline: none;
}

.input:focus + .label {
  top: 10px;
  left: 10px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.input:hover + .label {
  top: 10px;
  left: 10px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 27px;
  font-size: 14px;
  -webkit-transition: all .2s; /* For Safari 3.0 to 6.0 */
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; /* For modern browsers */
}
