.item_title_default {
  text-align: center;
  width: 100%;
  font-weight: lighter;
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  font-size: 16px;
}
